plugins = []
headers = []
redirects = []

[functions]

[functions."*"]

[build]
publish = "/Users/mason/WebstormProjects/dare-ministries/_site"
publishOrigin = "config"
commandOrigin = "config"
command = "npx @11ty/eleventy"

[build.environment]
NODE_VERSION = "20"

[build.processing]

[build.processing.css]

[build.processing.html]

[build.processing.images]

[build.processing.js]

[build.services]